

<div id = "cover">
  <%= image_tag @user.cover_image_url %>
</div>

<div id="chicken_wrap">
  <div class = "profile-details">  
    <%= image_tag @user.profile_pic.details.url %>
    <p><%= @user.username %></p>
    <p><%= @user.location %></p>
    <p><%= @user.tagline %></p>
    <% if can? :update, @user %>
    <p><%= link_to 'Edit', edit_user_path(@user) %></p>
    <% end %> 
  </div>
</div>

<div id='cheerups'>
  <h2 id='user'><%= @user.username %>'s Cheerups</h2>
    
  <% @user.cheerups.each do |cheerup| %>
    <%= link_to cheerup_path(cheerup) do %>
    
    <%= render partial: "/cheerups/cheerup", locals: { type: "thumb", cheerup: cheerup } %>    
    <% end %>
  <% end %>
</div>










