<h1>Profile</h1>
<% if can? :update, @user %>
  <p><%= link_to 'Edit', edit_user_path(@user) %></p>
<% end %> 
<p>
  <%= image_tag @user.profile_pic.details.url %>
</p>

<p>
  Username: <%= @user.username %>
</p>

<p>
  Location: <%= @user.location %>
</p>

<p>
  Tagline: <%= @user.tagline %>
</p>

<h2>Cheerups</h2>
  
<% @user.cheerups.each do |cheerup| %>
  <%= link_to cheerup_path(cheerup) do %>
    <%= render cheerup %>
  <% end %>
<% end %>










