this is my profile

<p>
  <b>
  <%= image_tag @user.profile_pic.details.url %>
  </b>
</p>

<div>
  <%= @user.username %>
</div>

<p>
  <%= @user.location %>
</p>

<p>
  <%= @user.tagline %>
</p>

<p>
  Cheerups<br>
  <% @user.cheerups.each do |cheerup| %>
    <%= link_to cheerup_path(cheerup) do %>
    <%= image_tag cheerup.image_url %>
    <% end %>
    <br>
  <% end %>
</p>




<% if can? :update, @user %>
  <%= link_to 'Edit Profile', edit_user_path(@user) %>
<% end %> 







