<h1>Featured Cheerup</h1>

<div class="previous">
  <%= link_to home_path(page: @page-1) do %>
    &#9664;
  <% end %>
</div>

<div class="cheerup">
  <div class="display">
    <%= link_to @cheerup do %>
      <div class="message">
        <%= @cheerup.message %>
      </div>
      <div class="featured_cheerup_image">
        <img src="<%= @cheerup.calculated_image_url %>">
      </div>
    <% end %>
  </div>
  <div class="rate">
    <%= button_to "flag", feedbacks_path(cheerup_id: @cheerup.id, kind: "flag"), class: "flag" %>
    <%= button_to "like", feedbacks_path(cheerup_id: @cheerup.id, kind: "like"), class: "like" %>
    Rating: <%= @cheerup.rating %>
  </div>
</div>

<div class="next">
  <%= link_to home_path(page: @page+1) do %>
    &#9654;
  <% end %>
</div>

