


<div id="best_cheerups">
  <%= render partial: "best_cheerups" %>
</div>

<div id="featured_cheerup">
  <div class="previous">
  <% if @page-1 >= 0 %>
    <%= link_to home_path(page: @page-1) do %>
      &#9664;
    <% end %>
  <% end %>
  </div>

  <%= render partial: "featured_cheerup" %>

  <div class="next">
  <% if @page+1 <= @new_cheerups.count %>
    <%= link_to home_path(page: @page+1) do %>
      &#9654;
    <% end %>
  <% end %>
</div>

</div>



<div id="best_cheerupers">
    <%= render partial: "best_cheerupers" %>
</div>
