/ Takes a local variable: "type" and "cheerup" into its class to determine rendering

= content_for :head do
  = stylesheet_link_tag "cheerups_feature"
  = stylesheet_link_tag "cheerups_thumb"

%section{class: "#{type}" }
  %div.display
    = image_tag(cheerup.calculated_image_url, id: "#{type}_image")
    %div#hearts
      %p
        = cheerup.rating
      = button_to "", feedbacks_path(cheerup_id: cheerup.id, kind: "like"), class: "heart"
      #tweet_form
        - if current_user && current_user.provider == "twitter"
          = form_for :tweet, url: tweets_path, method: :post do |f|
            = f.hidden_field :cheerup_id, value: cheerup.id
            = f.submit ""
    = button_to "flag if inappropriate", feedbacks_path(cheerup_id: cheerup.id, kind: "flag"), class: "flag"