<div class="cheerup">
  <div class="display">
    <%= link_to cheerup do %>
      <img class="image" src="<%= cheerup.calculated_image_url %>">
    <% end %>
  </div>
  <div class="rate">
    <%= button_to "flag", feedbacks_path(cheerup_id: cheerup.id, kind: "flag"), class: "flag" %>
    <%= button_to "like", feedbacks_path(cheerup_id: cheerup.id, kind: "like"), class: "like" %>
    Rating: <%= cheerup.rating %>  
  </div>
</div>
