<div class="cheerup">
  <div class="display">
    <%= link_to cheerup do %>
      <div class="message">
        <%= cheerup.message %>
      </div>
      <img class="image" src="<%= cheerup.image_url %>" />
    <% end %>
  </div>
  <div class="rate">
    <%= image_tag "flag.jpg" %>  
    <%= image_tag "like.png" %>    
  </div>
</div>

