<%= form_for(@cheerup) do |f| %>
  <% if @cheerup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cheerup.errors.count, "error") %> prohibited this cheerup from being saved:</h2>

      <ul>
      <% @cheerup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </div>
    <%= f.hidden_field :state %>
  <%= f.submit %>
<% end %>