= content_for :head do
  = javascript_include_tag "kinetic-v5.1.0.min.js"
  = javascript_include_tag "cheerups.js", defer: "defer"

%section#cheerup_modal
  = form_for(@cheerup) do |f|
    - if @cheerup.errors.any?
      %div#error_explanation
        %h2 
          = pluralize(@cheerup.errors.count, "error")
          prohibited this cheerup from being saved:
        %ul
          = @cheerup.errors.full_messages.each do |msg|
            %li 
              = msg
    - if @cheerup.calculated_image_url.nil?
      %h2 Add Image
      %div#image_selector
        %div.field
          = f.label "url"
          %br
          = f.text_field :image_url
        %div.field
          = f.label "upload file"
          %br
          = f.file_field :image_file

    - if @cheerup.calculated_image_url
      %h2 Add Message
      %div.field
        = f.label :message
        %br
        = f.text_field :message
        = f.hidden_field :state, value: "published"
        = f.hidden_field :image_data, value: ""
    %div.action
      - if @cheerup.calculated_image_url
        = f.submit "Post Cheerup", id: "submit"
      - else
        = f.submit "Update Image", id: "submit"
    %div#canvas{data: @cheerup.calculated_image_url}