%h1 Make a new cheerup

= form_for @cheerup do |f|
  %div.input
    = f.label "text"
    = f.text_area :message
  %div.input
    = f.label "Image" 
    = f.file_field :cheerup_image_ul
  %div.action
    = f.submit