
<p>Username:<%= @cheerup.user.username %></p>

<div>
    <%= render partial: "/cheerups/cheerup", locals: { type: "feature", cheerup: @cheerup } %>
</div>

<% if can? :update, @cheerup %>
   
  <p>
    <%= link_to 'Delete Cheerup', @cheerup, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>
<p>
<%= render partial: 'tweet_button' %>
</p>

<p><%= link_to 'Back', root_path %></p>
