
<div>
  <p><%= @cheerup.user.username %></p>
</div>

<p><img src="<%= @cheerup.image_url %>"></p>
<p><%= @cheerup.message %></p>

<% if can? :update, @cheerup %>
  <%= link_to 'Edit Cheerup', edit_cheerup_path(@cheerup) %>
  <%= link_to 'Delete Cheerup', @cheerup, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %> 




<%= link_to 'Back', root_path %>