
<p>Username:<%= @cheerup.user.username %></p>

<%= render @cheerup %>

<% if can? :update, @cheerup %>
  <p>
    <% if current_user && current_user.provider == "twitter" && current_user.id == @cheerup.user.id %>
      <%= form_for :tweet, url: tweets_path, method: :post, class: tweet_form do |f| %>
        <%= f.hidden_field :cheerup_id, value: @cheerup.id %>
        <%= f.submit "Send Tweet" %>
      <% end %>
    <% end %>
   
    <%= link_to 'Edit Cheerup', edit_cheerup_path(@cheerup) %>
    <%= link_to 'Delete Cheerup', @cheerup, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>




<p><%= link_to 'Back', root_path %></p>
