
<p>Username:<%= @cheerup.user.username %></p>

<%= render @cheerup %>

<% if can? :update, @cheerup %>
  <p>
    <%= render partial: 'tweet_button' %>
   
    <%= link_to 'Edit Cheerup', edit_cheerup_path(@cheerup) %>
    <%= link_to 'Delete Cheerup', @cheerup, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>




<p><%= link_to 'Back', root_path %></p>
