<!DOCTYPE html>
<html>
<head>
  <title>Cheerup</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "reset.css" %>
  <%= stylesheet_link_tag    "styles.css" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<header>

  <nav>
    <% if current_user %>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= image_tag "cheerup_logo.png" %></li>
        <li><%= link_to image_tag("smiley-face.png"), new_cheerup_path %></li>
        <li><%= link_to current_user.username, current_user %></li>
        <li><%= link_to image_tag(current_user.profile_pic.thumb.url), current_user %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      </ul>
    <% else %>
    <div class='login'>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
    </div>
    <% end %>
  
  </nav>
  

</header>

<body>


  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>
  

  <%= yield %>

<footer>
  Cheerup 2014
</footer>

</body>
</html>
