<!DOCTYPE html>
<html>
<head>
  <title>Cheerup</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "reset.css" %>
  <%= stylesheet_link_tag    "styles.css" %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
</head>
<header>

  <nav>
    <% if current_user %>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to "New cheerup", new_cheerup_path %></li>
        <!-- <li><%#= link_to 'Cheerups', cheerups_path %></li>
        <li><%#= link_to 'Cheeruppers', users_path %></li> -->
        <li><%= link_to image_tag(current_user.profile_pic.thumb.url), current_user %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      </ul>
    <% else %>
    <div class='login'>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
    </div>
    <% end %>
  
  </nav>
  

</header>

<body>

<div class="main">

<% if flash.notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<% if flash.alert %>
  <p class="alert"><%= alert %></p>
<% end %>
  

  <%= yield %>

</div>

</body>
</html>
