<!DOCTYPE html>
<html>
<head>
  <title>Cheerup</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "styles.css" %>

  <%= csrf_meta_tags %>
</head>
<header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <nav>
  <div class='login'>
    <% if current_user %>
      Hello, <%= current_user.username %>
      <%= link_to 'Profile', current_user %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <div class='create-cheerup'>
      <%= link_to "new cheerup", new_cheerup_path %>
      </div>
      <%= link_to 'All Cheerups', cheerups_path %>
      <%= link_to 'Search for other Cheeruppers', users_path %>
      
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
    <% end %>
  </div>
  
  </nav>
  

</header>

<body>

<div class="main">
  

<%= yield %>

</div>

</body>
</html>
